<% include ../partials/header%>

<h1><%= task.name %></h1>

<img src="<%= task.image %>">

<p><%=task.description%></p>

<p>Progress: <%=task.progress%>%</p>

<p>
    <a class="btn btn-success" href="/tasks/<%=task._id%>/comments/new">Add a New Comment!</a>
</p>

<% task.comments.forEach(function(comment){%>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<% include ../partials/footer%>